@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --primaryColor: hsl(14, 90%, 53%);
  --primaryColorLight: hsl(14, 96%, 91%);
  --bgColor: hsl(0, 0%, 100%);
  --formColor: hsl(20, 42%, 87%);
  --whiteColor:hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --greyText:hsl(0, 0%, 51%);
  --inputColor: hsl(330, 12%,.97%);
  --cardColor:hsl(300,.3%,94%);
  --biggestFontSize: 2.5rem;
  --h1FontSize: 2rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
  --borderRadius:3rem;
}

.btn {
  background-color: var(--primaryColor);
}

.accordionContainer .title {
  font-size: var(--normalFontSize);
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  justify-content: space-between;
  background-color: var(--primaryColorLight);
  display: flex;
  margin-top: 1rem;
}
.accordionContainer .title span {
  cursor: pointer;
}
.accordionContainer .title span .icon {
  font-size: 1.2rem;
  color: var(--blackColor);
}
.accordionContainer .description {
  font-size: var(--smallFontSize);
  display: flex;
  align-items: center;
  line-height: 20px;
  white-space: pre-line;
  height: 0px;
  transition: 0.3s ease-in-out;
  opacity: 0;
  padding: 0 1rem;
  background-color: var(--cardColor);
  border-radius: 0 0 10px 10px;
  color: var(--blackColor);
}
.accordionContainer .show {
  height: 140px;
  opacity: 1;
}
.accordionContainer .activeTitle {
  background-color: var(--primaryColorLight);
  border-radius: 10px 10px 0 0;
}

.questions .secHeading h3, .questions .secHeading h4 {
  padding-bottom: 1.5rem;
  padding-top: 1rem;
}
.questions .secHeading p {
  font-size: var(--smallFontSize);
  color: var(--blackColor);
  padding-bottom: 1rem;
}
.questions .formcontent {
  display: grid;
  gap: 1rem;
}
.questions .formcontent input, .questions .formcontent textarea {
  background-color: var(--cardColor);
  width: 100%;
  padding: 1rem;
  border: none;
  outline: none;
}
.questions .formcontent input::-moz-placeholder, .questions .formcontent textarea::-moz-placeholder {
  font-size: var(--smallestFontSize);
  color: var(--blackColor);
}
.questions .formcontent input::placeholder, .questions .formcontent textarea::placeholder {
  font-size: var(--smallestFontSize);
  color: var(--blackColor);
}
.questions textarea {
  height: 150px;
  border-radius: 7px;
}
.questions input {
  border-radius: var(--borderRadius);
}

@media screen and (min-width: 640px) {
  .accordionContainer .title {
    font-size: var(--h3FontSize);
  }
  .accordionContainer .title span .icon {
    font-size: 1.5rem;
  }
  .accordionContainer .description {
    font-size: var(--normalFontSize);
  }
  .accordionContainer .show {
    height: 150px;
  }
  .questions .secHeading h3,
  .questions .secHeading h4 {
    font-size: var(--h3FontSize);
  }
  .questions .secHeading p {
    font-size: var(--normalFontSize);
  }
  .questions .secContainer {
    gap: 2rem;
  }
  .questions .secContainer .form .formContent input,
  .questions .secContainer .form .formContent textarea {
    font: var(--normalFontSize);
  }
  .questions .secContainer .form .formContent input::-moz-placeholder, .questions .secContainer .form .formContent textarea::-moz-placeholder {
    font-size: var(--normalFontSize);
    color: var(--blackColor);
  }
  .questions .secContainer .form .formContent input::placeholder,
  .questions .secContainer .form .formContent textarea::placeholder {
    font-size: var(--normalFontSize);
    color: var(--blackColor);
  }
  .questions .secContainer .form .formContent textarea {
    height: 150px;
    border-radius: 10px;
  }
}
@media screen and (min-width: 1024px) {
  .accordionContainer .title {
    font-size: var(--h3FontSize);
  }
  .accordionContainer .title h3 .icon {
    font-size: 1.5rem;
  }
  .accordionContainer .description {
    font-size: var(--normalFontSize);
  }
  .accordionContainer .show {
    height: 150px;
  }
  .questions {
    padding-right: 30px;
  }
  .questions .secHeading h3,
  .questions .secHeading h4 {
    font-size: 1.5rem;
  }
  .questions .secHeading p {
    font-size: var(--h3FontSize);
  }
  .questions .secContainer {
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    gap: 2rem;
  }
  .questions .secHeading {
    text-align: center;
  }
  .questions .questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .questions Img {
    width: 60%;
  }
  .questions .secImage {
    width: 300px;
    transform: skewY(10deg); /* Initial bend to the left (adjust value as needed) */
    transition: transform 0.3s ease-in-out;
    padding-left: 20px;
  }
  .questions .secImage:hover {
    transform: skewY(0deg); /* Straighten the image on hover */
  }
  .secImage {
    width: 300px;
    align-items: center;
    display: flex;
    border-radius: 9rem;
  }
  .secimg {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
  }
}
@media screen and (max-width: 900px) {
  .secImage {
    width: 200px;
    align-items: center;
    display: flex;
    border-radius: 9rem;
  }
  .secimg {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
  }
  .questions {
    padding-right: 20px;
  }
}/*# sourceMappingURL=Questions.css.map */