.subscribe{
  padding-bottom: 20px;
    .secContainer{
        .textDiv{
            h4{
                font-size: var(--h2FontSize);
                color: var(--blackcolo);
            }
            p{
                padding: 1rem 0;
            }
            .btn{
                padding: .5rem 2rem;
            }

        }
    }
    .subimage{
        width: 50%;
    }
}
@media screen and (min-width: 480px) {
    .subscribe {
      .secContainer {
        img {
          max-width: 40%;
          margin: auto;
        }
        .textDiv {
          h4 {
            font-size: 1.5rem;
          }
          p {
            padding: 1rem 0;
            font-size: var(--h3FontSize);
          }
          .btn {
            padding: 0.5rem 2rem;
            font-size: var(--h2FontSize);
          }
        }
      }
    }
  }
  
  @media screen and (min-width: 640px) {
    .subscribe {
      .secContainer {
        grid-template-columns: repeat(2, 1fr);
        img {
          width: 100%;
          margin: auto;
        }
        .textDiv {
          padding-top: 160px;
          padding-right:50px ;
          h4 {
            font-size: 2rem;
          }
          p {
            padding: 1rem 0;
            font-size: var(--h3FontSize);
          }
          
        }
      }
    }
    .subscribe{
      padding-top: 50px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .subscribe {
      .secContainer {
        .textDiv {
          h4 {
            font-size: var(--h1FontSize);
          }
          p {
            padding: 2rem 0;
            font-size: var(--h2FontSize);
          }
        }
      }
    }
  }






























  